/*
  setup
*/

:root {
  --primary:#ffd61c;
  --secondary: #3c59a8;
  --gray: #434a54;
  --red: #ed5564;
  --white: #e6e9ed;
  --purple: #7137c8;
  --light_primary: #ffed99;

}

@font-face {
  font-family: 'Pokemon Solid';
  src: url('../fonts/pokemon_solid.ttf');
  font-style:normal;
  font-weight:bold;
  font-variant:normal;
  text-decoration:inherit;
  text-transform:none
}

@font-face {
  font-family: 'Pokemon Hollow';
  src: url('../fonts/pokemon_hollow.ttf');
  font-style:normal;
  font-weight:bold;
  font-variant:normal;
  text-decoration:inherit;
  text-transform:none
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gloria Hallelujah';
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.body_background0 {
  background-image: url(../img/pikachu0.webp);
}

.body_background1 {
  background-image: url(../img/pikachu1.webp);
}

.body_background2 {
  background-image: url(../img/pikachu2.webp);
}

.body_background3 {
  background-image: url(../img/pikachu3.webp);
}

.body_background4 {
  background-image: url(../img/pikachu4.webp);
}

.body_background5 {
  background-image: url(../img/pikachu5.webp);
}

.body_background6 {
  background-image: url(../img/pikachu6.webp);
}

/*
  container
*/
.container {
  position: relative;
  background: transparent;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  max-height: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 24px;
  left: 16px;
  width: 32px;
  height: 48px;
}

.logo img {
  width: 100%;
  height: 100%;
}


.container header {
  width: 100%;
  height: 134px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.container section {
  /* display: flex; */
  display: none;
  flex-direction: column;
  align-items: center;
  position: relative;
}

h1 {
  font-family: 'Pokemon Solid', sans-serif;
  color: var(--primary);
  -webkit-text-stroke: 4px var(--secondary);
  letter-spacing: 5px;
  font-size: 3em;
  width: 100%;
  max-width: 375px;
  text-align: center;
}

/*
  play footer
*/

.container footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  margin-top: 24px;
  margin-bottom: 24px;
  z-index: 10;
}

.container footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  width: 343px;
  height: 85px;
  border: 6px solid var(--gray);
  border-radius: 24px;
  position: relative;
  font-size: 1.18em;
}

.container footer button img {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 10px;
  border: 6px solid var(--gray);
  border-radius: 50%;
}

.allBtn {
  flex-direction: column !important;
}

#btn1 {
  background: var(--red);
}

#btn2 {
  background: var(--white);
}

.pokeRotateFooter {
  animation: pokeRotateFooterAnimation .6s infinite;
}

@keyframes pokeRotateFooterAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(365deg);
  }
}

/*
  initial view
*/
.view_0 img {
  width: 300px;
}

/*
  insert view
*/

.view_1 img {
  width: 200px;

}

.view_1 input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  width: 343px;
  height: 85px;
  border: 6px solid var(--gray);
  border-radius: 24px;
  position: relative;
  font-size: 1.18em;
  text-align: center;
}

.view_1 span {
  color: var(--red);
  font-size: 0.8rem;
}

/*
  play view
*/

#textKey {
  text-transform: uppercase;
  position: relative;
  left: -110px;
  color: var(--primary);
  background: var(--light_primary);
  outline: none;
  border: none;
  width: 77px;
  height: 25px;
  padding: 5px;
  font-size: 10px;
}

#textKey:focus,
#textKey:active {
  outline: none;
  border: none;
}

#textKeyAux {
  opacity: 0;
  position: fixed;
  top: 0;
  width: 1px;
  height: 1px;
  font-size: 1px;
}

/*
  draw
*/

.body_draw {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  height: 200px;
}

.picachu_draw {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.draw {
  width: 125px;
  height: 130px;
}

h2 {
  font-family: 'Gloria Hallelujah', cursive;
  text-transform: uppercase;
  color: var(--purple);
}

.quien_es {
  width: 300px;
  height: 300px;
  filter: brightness(0) blur(3px);
}

.quien_es_pokemon {
  transition: all ease 1s;
  filter: brightness(1) blur(0px);
  z-index: 10;
}

.lineas_letras {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0px;
}

.lineas_letras li {
  width: 30px;
  margin-right: 7px;
  list-style: none;
  text-align: center;
  position: relative;
  border-bottom: 2px solid #000;
  font-size: 1.5rem;
}

/*
  view
*/

.view_deactivate {
  opacity: 1;
}

.view_activate {
  display: flex !important;
}

/*
  loser
*/

.loser {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px) grayscale(1);
  -webkit-backdrop-filter: blur(3px) grayscale(1);
  --webkit-backdrop-filter: blur(3px) grayscale(1);
}

.loser h2 {
  font-family: 'Pokemon Solid', sans-serif;
  color: #fff;
  -webkit-text-stroke: 4px var(--secondary);
  font-size: 4rem;
  letter-spacing: 6px;
  text-align: center;
}

.loser div {
  width: 265px;
  height: 388px;
  background: url(../img/pikachu_loser.webp);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}

.loser_active {
  display: flex !important;
}

.winer div{
  background: url(../img/pikachu_winer.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

/*
  footer
*/
.footer {
  padding: 50px 0;
  background: var(--gray);
  color: var(--white);
  width: 100%;
  text-align: center;
}

.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  font-size: 12px;
  gap: 20px;
}

.footer ul li {
  color: var(--primary);
}

.footer a,
.footer a:active,
.footer a:visited {
  color: var(--primary);
  text-decoration: none;
}

@media (min-width: 768px) {
  body {
    background-position-x: calc(50% - 130px);
  }

  .container footer {
    flex-direction: row;
  }
  
  .logo {
    position: absolute;
    top: 40px;
    left: 74px;
    width: 31px;
    height: 47px;
  }
}

@media (min-width: 1024px) {
  .logo {
    position: absolute;
    top: 40px;
    left: 84px;
    width: 32px;
    height: 48px;
  }
}
