/*
https://www.dafont.com/pokemon.font

https://www.freepik.com/search?format=search&query=wood%20fire%20sprite&type=vector

fogata:
https://www.freepik.com/premium-vector/bonfire-animation-cartoon-burning-campfire-with-firewood-fire-flames-effect-animated-sprites-frames_16151706.htm#query=wood%20fire%20sprite&position=9&from_view=search

huevo:
https://www.freepik.com/free-vector/cartoon-dragon-ice-crystal-eggs-animation-with-whole-cracked-broken-shell-magic-fairy-tale-dinosaur-reptile-ui-game-assets-with-frozen-shell-isolated-gui-sprite-graphic-vector-illustration_26232371.htm#query=dino%20sprite&position=0&from_view=search

pokeball:
https://www.flaticon.com/free-icon/pokeball_188918

sprite boy:
https://www.deviantart.com/purplezaffre/art/Team-Aqua-Boss-Archie-867127814

stickers pikachu:
https://stickers.wiki/es/telegram/pikachudetective/

*/

/*
  setup
*/

:root {
  --primary: rgb(244, 236, 236);
}

@font-face {
  font-family: 'Pokemon Solid';
  src: url('../fonts/pokemon_solid.ttf');
  font-style:normal;
  font-weight:bold;
  font-variant:normal;
  text-decoration:inherit;
  text-transform:none
}

@font-face {
  font-family: 'Pokemon Hollow';
  src: url('../fonts/pokemon_hollow.ttf');
  font-style:normal;
  font-weight:bold;
  font-variant:normal;
  text-decoration:inherit;
  text-transform:none
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gloria Hallelujah';
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  background: #ffd61c;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.body_background0 {
  background-image: url(../img/pikachu0.webp);
}

.body_background1 {
  background-image: url(../img/pikachu1.webp);
}

.body_background2 {
  background-image: url(../img/pikachu2.webp);
}

.body_background3 {
  background-image: url(../img/pikachu3.webp);
}

.body_background4 {
  background-image: url(../img/pikachu4.webp);
}

.body_background5 {
  background-image: url(../img/pikachu5.webp);
}

/*
  container
*/
.container {
  position: relative;
  background: transparent;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  max-height: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 24px;
  left: 16px;
  width: 32px;
  height: 48px;
}

.logo img {
  width: 100%;
  height: 100%;
}


.container header {
  width: 100%;
  height: 134px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.container section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

h1 {
  font-family: 'Pokemon Solid', sans-serif;
  color: #ffcc03;
  -webkit-text-stroke: 4px #3c59a8;
  letter-spacing: 5px;
  font-size: 3em;
  width: 100%;
  max-width: 375px;
  text-align: center;
}

/*
  play footer
*/

.container footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  margin-top: 24px;
  margin-bottom: 24px;
  z-index: 10;
}

.container footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  width: 343px;
  height: 85px;
  border: 6px solid #434a54;
  border-radius: 24px;
  position: relative;
  font-size: 1.7em;
}

.container footer button img {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 10px;
  border: 6px solid #434a54;
  border-radius: 50%;
}

#btn1 {
  background: #ed5564;
}

#btn2 {
  background: #e6e9ed;
}

.pokeRotateFooter {
  animation: pokeRotateFooterAnimation .6s infinite;
}/* crear un onclick para que anime al objeto y no este en after*/

@keyframes pokeRotateFooterAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(365deg);
  }
}

/*
  play view
*/

#textKey {
  text-transform: uppercase;
  position: relative;
  left: -110px;
  color: #ffd61c;
  background: #ffed99;
  outline: none;
  border: none;
  width: 77px;
  height: 25px;
  padding: 5px;
  font-size: 10px;
}

#textKey:focus,
#textKey:active {
  outline: none;
  border: none;
}

#textKeyAux {
  opacity: 0;
  position: fixed;
  top: 0;
  width: 1px;
  height: 1px;
  font-size: 1px;
}

/*
  draw
*/

.body_draw {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  height: 200px;
}

.picachu_draw {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.draw {
  width: 125px;
  height: 130px;
}

h2 {
  font-family: 'Gloria Hallelujah', cursive;
  text-transform: uppercase;
}

.quien_es {
  width: 300px;
  height: 300px;
  filter: brightness(0) blur(3px);
}

.quien_es_pokemon {
  transition: all ease 1s;
  filter: brightness(1) blur(0px);
  z-index: 10;
}

.lineas_letras {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0px;
}

.lineas_letras li {
  width: 30px;
  margin-right: 7px;
  list-style: none;
  text-align: center;
  position: relative;
  border-bottom: 2px solid #000;
  font-size: 1.5rem;
}

/*
  view
*/

.deactivate {
  opacity: 0;
}

.view_activate {
  
}

/*
  loser
*/

.loser {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px) grayscale(1);
}

.loser h2 {
  font-family: 'Pokemon Solid', sans-serif;
  color: #fff;
  -webkit-text-stroke: 4px #3c59a8;
  font-size: 4rem;
  letter-spacing: 6px;
  text-align: center;
}

.loser div {
  width: 265px;
  height: 388px;
  background: url(../img/pikachu_loser.webp);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}

.loser_active {
  display: flex !important;
}

.winer div{
  background: url(../img/pikachu_winer.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 768px) {
  body {
    background-position-x: calc(50% - 130px);
  }

  .container footer {
    flex-direction: row;
  }
  
  .logo {
    position: absolute;
    top: 40px;
    left: 74px;
    width: 31px;
    height: 47px;
  }
}

@media (min-width: 1024px) {
  .logo {
    position: absolute;
    top: 40px;
    left: 84px;
    width: 32px;
    height: 48px;
  }
}